@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url(~normalize.css/normalize.css);
.absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#root {
  min-height: 100vh; }

.app {
  background-color: #f8f8f8; }

* {
  font-family: "Open Sans"; }
